*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left{
        text-transform: uppercase;display: flex;
        align-items: flex-end;
        font-size: 1.3rem;
        font-weight: 700;
        color: #149F39;
    }
}

.content{
    width: 1200px;
    height: 480px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
    .left{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 32rem;
            width: 30rem;
            margin: 0 auto;
            border-radius: 50%;
        }
    }
    .right{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
   .L-1{
    font-size: 2rem;
    font-weight: 600;
    background-color: #149F39;
    height: 4rem;
    padding-top: 10px;
    width:25rem;
    color: white;
   }
   h1{
    font-size: 4.5rem;
    letter-spacing: 1px;
   }
   .L-2{
    font-size: 1.4rem;
   }
   .L-3{
    font-size: 2rem;
    font-weight: 700;
    background-color: #FFC066;
    width: 20rem;
    height: 4rem;
    text-align: center;
    padding-top: 10px;
    color: white;
   }
}

.details{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    gap:30px;
}
#card{
    display: flex;
    align-items: start;
    gap:10px;
}